



.containermain {
    width: 100%;
}

.latestr {
    background-image: url(https://i.ibb.co/q9Dj0ck/lp.jpg);
    height: 11%;
    width: 100%;
    /* margin-top: -1.4%; */
}

.latestr1 {
    color: white;
    font-size: large;
    /* margin-top: -1%; */
    margin-left: 10%;
}

.latestpub {
    border-left: 8px solid red;
    margin-left: 10%;
    color: white;
}


.lpc {
    width: 80%;
    margin-left: 10%;
    display: flex;
    /* border: 2px solid red; */
}

.reportsec {
    width: 75.5%;
    margin-top: 1%;
}

/*report div starts*/

.reportdiv {
    height: 170px;
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 55px 2px #2125292e;
}

.reportimgg {
    height: 160px;
    width: 17%;
    float: left;
    margin-left: 0.5%;
}

.reportimgg>img {
    height: 160px;
    width: 100%;
}

.reporttile {
    height: 200px;
    width: 81%;
    margin-left: 1.5%;
    float: left;
}

.reporttitle {
    font-family: Georgia, serif;
    width: 100%;
}

.reporttitle> p {
    text-align: left;
    font-size: 15px;
    color: black;
}

.reporttitle1 {
    margin-top: 4%;
    width: 100%;
    font-family: Georgia, ;
}

.cattile1{
    height: 40px;
}
.contentstyle{
    color: #00254a;
    font-size: large;
    font-weight: 700;
}
.cattile2{
    float: left;
}
.cattile3{
    float: left;
}
.cattile4{
    margin-left: 10%;
    float: left;
    margin-top: -0.3%;
}






















.catsecg {
    width: 21%;
    margin-top: 1%;
    margin-left: 2.5%;
    float: left;
}

.catseerch {
    height: 50px;
    width: 100%;
}
.catseerch>input{
    height: 100%;
    text-align: center;
    width: 100%;
}
.catsec12 {
    margin-top: 12%;
    width: 100%;
}

.catsec2 {
    height: 40px;
    width: 100%;
}
.categ{
    font-size: 20px;
    font-weight: 800px;
    margin-top: 7%;
    margin-left: 25%;
    color: white;
}
.catsec34 {
    width: 100%;
    box-shadow: 2px 2px 5px 2px #2125292e;
    margin-top: 5%;
    text-decoration: none;
}
.cataaa{
    height:45px;
    width: 100%;
    margin-top: 4%;
    display: flex;
}

.Pharmacate{
    margin-left: 10%;
    margin-top: 4%;
    font-weight: 600;
    font-size: 15px;
    
}
a { text-decoration: none; }
/* .Pharmacate>link{
    text-decoration:none!important ;
} */


.pharmalogo>img{
    height: 20px;
    width:20px;
    margin-top: 50%;
    margin-left: 90%;
} 


.catsecc {
    width: 100%;
    margin-bottom: 5%;
    background-color: #00254a;
    border: 2px solid #00254a;
}
.whydiv{
    margin-top: 15%;
    width: 100%;
}

.whydiv1{

    box-shadow:2px 2px 2px 2px #00254a;
}
.whydiv2{
    border-bottom: 1px solid black;
    box-shadow:2px 2px 2px 2px #00254a;
    
}
.whydiv3{
    font-size: 18px;
    font-weight: 700;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    width: 100%;
    height: 25px;
    color: #140c7d;
}
.whydiv4>p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5%;
    margin-left: 5%;
    color:rgb(6, 1, 69);
    text-align: left;
    margin-bottom: 4%;
}



