<div id="mainformbody">
    <div id="formbody">
      <div class="formtitle">
          <h6>To Get Smaple Pages Plz Fill The Form</h6>
      </div>
      <div class="formtile">
          <div>
              <h6>Name* :</h6>
          </div>
          <div class="formimg" id="fdiv"> <img src="https://i.ibb.co/LJznXYM/Namered.png" alt=""/></div>
          <div class="forminp" id="forminput"> <input type="text" id="fname" placeholder="  Please  Enter  Your  Name" name="name"
            value={this.state.name}
            onChange={this.handleChange}/></div>

      </div>
      <div class="formtile">
          <div>
              <h6>Email* :</h6>
          </div>
          <div class="formimg"> <img src="https://i.ibb.co/vL3yyVj/Emailred.png" alt=""/></div>
          <div class="forminp" id="forminput"> <input type="text" id="email"name="email"
          value={this.state.email}
          onChange={this.handleChange} placeholder="  Please  Enter  Your  Email" name="email"
          value={this.state.email}
          onChange={this.handleChange}/>
          </div>
          <div><p id="fout"></p></div>
      </div>
      <div class="formtile">
          <div>
              <h6>Company Name* :</h6>
          </div>
          <div class="formimg"> <img src="https://i.ibb.co/QfXXK4G/Companyred.png" alt=""/></div>
          <div class="forminp" id="forminput"> <input type="text" id="pwd" placeholder="  Please  Enter  Your  Company  Name"name="phone"
            value={this.state.phone}
            onChange={this.handleChange}/></div>
      </div>
      <div class="formtile">
          <div>
              <h6>Title/Designation* :</h6>
          </div>
          <div class="formimg"> <img src="https://i.ibb.co/LJznXYM/Namered.png" alt=""/></div>
          <div class="forminp" id="forminput"> <input type="text"
                  placeholder="  Please  Enter  Your  Title/Designation"/></div>
      </div>
      <div class="formtile">
          <div>
              <h6>Select Country* :</h6>
          </div>
          <div class="formimg"> <img src="https://i.ibb.co/BZvtqjr/Countryred.png" alt=""/></div>
          <div class="forminp" id="forminput"> <input type="text"
                  placeholder="  Please  Select  Your  Country* :"/></div>
      </div>
      <div class="formtile">
          <div>
              <h6>Phone no.* :</h6>
          </div>
          <div class="formimg"> <img src="https://i.ibb.co/qxn8Fzg/Phonered.png" alt=""/></div>
          <div class="forminp" id="forminput"> <input type="text" placeholder="  Please  Enter  Your  Phone  no."/>
          </div>
      </div>
      <div class="formtile">
          <div>
              <h6>Share Your Requirements With</h6>
          </div>
          <div class="formimg"> <img src="https://i.ibb.co/cLxQb4G/About-red.png
              " alt=""/></div>
          <div class="forminp" id="forminput"> <input type="text" placeholder="  Please  Enter  Your  Phone  no."/>
          </div>
      </div>
      <div id="btn">
          <button>Submit</button>
      </div>





  </div>
    </div>