body {
    margin: auto;
}

#mainbox{
    /* position: fixed; */
    width: 100%;
    display: flex;
    background-image: linear-gradient( 30deg, white 30%,rgb(255, 250, 250) 30%);
}

#left{
    float: left;
    margin-left: 3%;
    margin-top: 0.8%;
}
#left > img {
    height: 50px;
    width: 170px;
    
}
#right{
    /* height: 300px; */
    width:70%;
    /* border: 2px solid rgb(60, 255, 0); */
    float: left;
    margin-left: 20%;
}
#topbar{
    /* height: 100px; */
    width:100%;
    /* border: 2px solid rgb(34, 0, 255); */
    float: left;
    /* margin-top: 2%; */
    color: rgb(0, 0, 234);
    
}
#contactus{
    margin-left: 9%;
}
#botbar{
    /* height: 100px; */
    width:100%;
    margin-bottom: 1%;
    /* border: 2px solid rgb(0, 0, 0); */
    float: left;
    /* margin-top: 5%; */
}
#home{
    /* height: 30px; */
    /* width: 10%; */
    margin-left: 2.5%;
    /* border: 2px solid rgb(0, 0, 0); */
    float: left;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1%;
    color: rgb(234, 0, 0);
}
#home:hover {
    background-color: #301781;
    color: black;
}
#regi{
    height: 30px;
    /* width: 10%; */
    color: rgb(234, 0, 0);
    margin-left: 10%;
    /* border: 2px solid rgb(0, 0, 0); */
    float: left;
    font-size: larger;
    font-weight: bolder;
    margin-top: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#regi>p{
    color: rgb(234, 0, 0);
}
#regi:hover {
    background-color: #301781;
    color: black;
}
#login{
    color: rgb(234, 0, 0);
    margin-top: 1%;
    /* height: 30px; */
    width: 10%;
    margin-left: 2.5%;
    /* border: 2px solid rgb(0, 0, 0); */
    float: left;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#login:hover {
    background-color: #301781;
    color: rgb(234, 0, 0);
}

#searchi{
    /* margin-top: 1%; */
    /* height: 200px; */
    position: absolute;
    margin-left: 25%;
    width: 70%;
    margin-top: -20%;
    /* border: 2px solid rgb(246, 246, 246); */
    /* text-align: center; */
    /* background-image: linear-gradient( 150deg, #025b8b 30%, rgb(224, 238, 251) 30%); */
}

/* Header section end */

.slidedive >img{
    height: 700px;
    width: 100%;
}
#fistslide{
    position: absolute;
    margin-top: -30%;
    margin-left: 32%;
}
.colr{
    color: white;
}

.om{
    height: 50px;
    width: 70%;
    text-align: center;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
}


@media screen and (max-width:800px){
        #mainbox {
        /* position: fixed; */
        width: 100%;
        display: flex;
        background-image: linear-gradient( 30deg, #000727 30%, #ffffff 30%);
        flex-direction: column-reverse;
    }
    
    #left {
        float: left;
        margin-left: 3%;
        margin-top: 0.4%;
    }
    #right {
        /* height: 300px; */
        width: 70%;
        /* border: 2px solid rgb(60, 255, 0); */
        float: left;
        margin-left: 20%;
    }

    #topbar {
        /* height: 100px; */
        width: 140%;
        margin-left: -20%;
        /* border: 2px solid rgb(34, 0, 255); */
        float: left;
        /* margin-top: 2%; */
        color: rgb(234, 0, 0);
    }
    #span{
        margin-left: 0%;
    }
    #span1{
        margin-left: 10%;
    }
    #botbar {
        /* height: 100px; */
        width: 140%;
        margin-bottom: 1%;
        /* border: 2px solid rgb(0, 0, 0); */
        float: left;
        /* margin-top: 5%; */
        margin-left: -15%;
    }
    
    
    
    
    #login {
        color: rgb(234, 0, 0);
        margin-top: 1%;
        /* height: 30px; */
        width: 10%;
        margin-left: 10.5%;
        /* border: 2px solid rgb(0, 0, 0); */
        float: left;
        font-size: larger;
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}

@media screen and (max-width:600px){
       #mainbox {
        /* position: fixed; */
        width: 100%;
        display: flex;
        background-image: linear-gradient( 30deg, #000727 30%, #ffffff 30%);
        flex-direction: column-reverse;
    }
    
    #left {
        float: left;
        margin-left: 3%;
        margin-top: 0.4%;
    }
    #right {
        /* height: 300px; */
        width: 70%;
        /* border: 2px solid rgb(60, 255, 0); */
        float: left;
        margin-left: 20%;
    }

    #topbar {
        /* height: 100px; */
        width: 140%;
        margin-left: -20%;
        /* border: 2px solid rgb(34, 0, 255); */
        float: left;
        /* margin-top: 2%; */
        color: rgb(234, 0, 0);
    }
    #span{
        margin-left: 0%;
    }
    #span1{
        margin-left: 10%;
    }
    #botbar {
        /* height: 100px; */
        width: 140%;
        margin-bottom: 1%;
        /* border: 2px solid rgb(0, 0, 0); */
        float: left;
        /* margin-top: 5%; */
        margin-left: -15%;
    }
    
    
    
    
    #login {
        color: rgb(234, 0, 0);
        margin-top: 1%;
        /* height: 30px; */
        width: 10%;
        margin-left: 10.5%;
        /* border: 2px solid rgb(0, 0, 0); */
        float: left;
        font-size: larger;
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


}


@media screen and (max-width:400px){
       #mainbox {
        /* position: fixed; */
        width: 100%;
        display: flex;
        background-image: linear-gradient( 30deg, #000727 30%, #ffffff 30%);
        flex-direction: column-reverse;
    }
    
    #left {
        float: left;
        margin-left: 3%;
        margin-top: 0.4%;
    }
    #right {
        /* height: 300px; */
        width: 70%;
        /* border: 2px solid rgb(60, 255, 0); */
        float: left;
        margin-left: 20%;
    }

    #topbar {
        /* height: 100px; */
        width: 140%;
        margin-left: -20%;
        /* border: 2px solid rgb(34, 0, 255); */
        float: left;
        /* margin-top: 2%; */
        color: rgb(0, 66, 234);
    }
    #span{
        margin-left: 0%;
    }
    #span1{
        margin-left: 10%;
    }
    #botbar {
        /* height: 100px; */
        width: 140%;
        margin-bottom: 1%;
        /* border: 2px solid rgb(0, 0, 0); */
        float: left;
        /* margin-top: 5%; */
        margin-left: -15%;
    }
    
    
    
    
    #login {
        color: rgb(0, 66, 234);
        margin-top: 1%;
        /* height: 30px; */
        width: 10%;
        margin-left: 10.5%;
        /* border: 2px solid rgb(0, 0, 0); */
        float: left;
        font-size: larger;
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}



